.mvr-table {
  margin-bottom: 20px; //Add margin outside of responsive scroll
  > table {
    margin-bottom: 0; //Remove margin from inside of responsive scroll

    > thead > tr > th {
      border-bottom: none;
    }
    > tbody > tr > th {
      border-top: none;
    }
    > tbody + tbody {
      border-top: none;
    }
    > tbody > tr:nth-child(2) > td{
      border-top: none;
    }

    tr, td {
      :not(:first-child) {
        text-align: right; //Align numbers right
      }
    }

    > tbody[table-group] {
      > tr{
        > td, > th{
          &:not(:first-child) {
            > span {
              padding: .2em .6em .3em; //add padding to all number cells so they are aligned the same regardless of whether they are buttons
            }
          }
        }
      }
      //First row of table group
      > tr:first-child {
        color: #FFF;
        &.expandEnabled {
          cursor: pointer;
        }
        > th.donationsTitle{
          padding-left: 1.5em;
        }
      }
      //Indent sub categories
      :not(:first-child) {
        > td:first-child {
          font-weight: 600;
          padding-left: 1.5em;
          &.donationsSubTitle{
            padding-left: 3em;
          }
        }
        //Add button on hover of cell
        > td:not(:first-child) > span {
          &:hover {
            cursor: pointer;
            background-color: #36B4DA;
            color: #FFF;
            border-radius: .25em;
          }
        }
      }
    }
  }
}

.small-subtle{
  color: #777777;
  font-size: 75%;
  font-weight: 400;
}
