<tr ng-click="group.isCollapsed = !group.isCollapsed"  ng-class="{'expandEnabled': group.expand}" ng-style="{'background-color': group.color}">
  <td>
    {{group.name}}
  </td>
  <td ng-repeat="(date, value) in group.totals track by $index">
    {{value | number:0}}
  </td>
</tr>
<tr ng-repeat="(category, values) in group.data track by $index" collapse="group.isCollapsed">
  <td>
    {{category}}
  </td>
  <td ng-repeat="(date, value) in values track by date">
    {{value.sum | number:0}}
  </td>
</tr>
