<tr ng-click="group.isCollapsed = !group.isCollapsed"  ng-class="{'expandEnabled': group.expand}" ng-style="{'background-color': group.color}">
  <th>
    {{group.name}}
  </th>
  <th ng-repeat="(date, value) in group.totals track by $index">
    {{value | number:0}}
  </th>
</tr>
<tr ng-repeat="(category, values) in group.data track by $index" ng-if="!group.isCollapsed">
  <td>
    {{category}}
  </td>
  <td ng-repeat="(date, value) in values track by date">
    <span ng-click="group.showMonthTransactions(value.transactions, date, category); $event.stopPropagation();">{{value.sum | number:0}}</span>
  </td>
</tr>
