<tr ng-click="group.isCollapsed = !group.isCollapsed"  ng-class="{'expandEnabled': group.expand}" ng-style="{'background-color': group.color}">
  <th ng-class="{'donationsTitle': group.type === 'donations'}">
    {{group.name}}
  </th>
  <th ng-repeat="(date, value) in group.totals track by $index">
    <span>{{value | number:0}}</span>
  </th>
</tr>
<tr ng-repeat="(category, values) in group.data track by $index" ng-if="!group.isCollapsed">
  <td ng-class="{'donationsSubTitle': group.type === 'donations'}" ng-switch="group.type">
    <span ng-switch-when="donations">
      {{category.split('-')[0]}}
      <span class="small-subtle">{{category.split('-')[1]}}</span>
    </span>
    <span ng-switch-default>{{category}}</span>
  </td>
  <td ng-repeat="(date, value) in values track by date">
    <span ng-click="group.showMonthTransactions(value.transactions, date, category); $event.stopPropagation();">{{value.sum | number:0}}</span>
  </td>
</tr>
