<div class="container">
  <form class="form-horizontal">
    <div class="form-group">
      <div class="col-sm-4">
        <label for="country" class="control-label">Country</label>
        <select class="form-control" id="country" ng-model="main.country">
          <option ng-repeat="option in main.dropdowns.country" value="{{option.id}}">{{option.name}}</option>
        </select>
      </div>
      <div class="col-sm-4">
        <label for="profile" class="control-label">Profile</label>
        <select class="form-control" id="profile" ng-model="main.profile">
          <option ng-repeat="option in main.dropdowns.profile" value="{{option.id}}">{{option.name}}</option>
        </select>
      </div>
      <div class="col-sm-4">
        <label for="account" class="control-label">Account</label>
        <select class="form-control" id="account" ng-model="main.account">
          <option ng-repeat="option in main.dropdowns.account" value="{{option.id}}">{{option.name}}</option>
        </select>
      </div>
    </div>
  </form>
  <div class="row">
    <div class="col-xs-12">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>
              Category
            </th>
            <th ng-repeat="month in main.data.months">
              {{ month }}
            </th>
          </tr>
          </thead>
          <tbody table-group name="'Income'" data="main.data.income"></tbody>
          <tbody table-group name="'Expenses'" data="main.data.expenses"></tbody>
          <tbody table-group name="'Balance'" data="main.data.balance"></tbody>
        </table>
      </div>
    </div>
  </div>
</div>
